.header{
    width: 100%;
    padding: 2em 5% 0 5%;
    background-image: url(../../images/pattern-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
.header h1{
    color: white;
    font-weight: 500;
}